<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="ISO-8859-1">
		<title>Access Denied</title>	
		<link rel="stylesheet" type="text/css" medial="all" th:href="@{/css/styles.css}" />
	</head>
	<body>
		<h1>You don't have access to this page!</h1>
		<br>
		<a th:href="@{/account}">Home</a>
		<br> <br>
		<div>
			<form th:action="@{/logout}" method="POST">
				<input type="submit" id="logout-submit" name="logout-submit" value="Log Out">
			</form>
		</div>
	</body>
</html>