<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" medial="all" th:href="@{/css/styles.css}" />
</head>
    <body>

        <h1>My name is <span th:text="${loggedInUser}"></span></h1>
        
        <form action="/message" method="POST">
              <ul style="list-style-type: none;">
	        	<li th:each="user : ${currentUsers}">
	        		<input type="submit" name="recipientName" th:value="${user.name}">
	        	</li>
	        	<li th:if="${newUser != null}">
	        		<input type="submit" name="recipientName" th:value="${newUser.name}">
	        	</li>
        
        	</ul>
        </form>
        
        <div th:if="${artist != null}">
        	<a th:href="@{/possibleConversations}">Add New Conversation</a>
		</div>
		
		<br>
		<form th:action="@{/logout}" method="POST">
			<input type="submit" id="logout-submit" name="logout-submit" value="Log Out">
		</form>
    </body>
</html>