<!DOCTYPE html>
<html>
    <head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" medial="all" th:href="@{/css/styles.css}" />
    </head>
    <body>
    	<img src="/images/logo.png" alt="Logo">
    	
    	<h1>Custom Tattoo Design</h1>
    	<h3>Messaging System</h3> <br>
    	
    	<div th:if="${param.error}">
			<div class="alert">
				<span>Invalid Username or Password</span>
			</div>
		</div>
		<div th:if="${param.logout}">
			<div class="warning">
				<span>You Have Logged Out</span>
			</div>
		</div>
    
        <form action="/login" method="POST">
            <span> Username: </span> <input class="alignLeft" type="email" name="username" id="username"></br>
            <span> Password: </span> <input class="alignLeft" type="password" name="password" id="password"></br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>