<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" medial="all" th:href="@{/css/styles.css}" />
    </head>
    <body>
    	<div th:if="${param.error}">
			<div class="alert">
				<span>Invalid Username or Password</span>
			</div>
		</div>
    
        <form action="/login" method="POST">

            <span>Username:</span> <input type="text" name="username" id="username"></br>
            <span>Password:</span> <input type="text" name="password" id="password"></br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>