<!DOCTYPE html>
<html>
    <head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    </head>
    <body>
        <form action="/login" method="post">

            <h6 th:if="!loginFailure">
                <p>Login Failed. Try again idiot</p>
            </h6>

            Username: <input type="text" name="username" id="username"></br>
            Password: <input type="text" name="password" id="password"></br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>